body {
  background: #efefef;
  font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6, a {
  font-family: 'Open Sans', sans-serif;
}

img {
  height: auto;
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
}

ul {
  list-style: none;
}

#wrapper {
    margin-top: 80px;
    margin-bottom: 80px
}

.nopr {
    padding-right: 0;
}


.img-profile {
  position: relative;
}

/* .main-nav */
.main-nav ul li{
  position: relative;
  border-bottom:1px solid #26292e;
}

.main-nav ul li:last-child{
  border-bottom:none;
}

.main-nav ul li a{
  display:table;
  text-align:right;
  background:#33373d;
  color:#85878b;
  font-size:12px;
  text-transform:uppercase;
  padding:15px 25px;
  width:100%; 
}

.main-nav li a:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #cd5353;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
   -ms-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  
}

.main-nav ul {
  padding: 0;
  margin-bottom: 0px;
}

.main-nav li a.active{
  color:#ffffff;
  background: rgb(150, 97, 171);
}

.main-nav ul li a i{
  position:absolute;
  left:25px;
  top: 11px;
  font-size:22px;  
}

/* .bottom-header */
.bottom-header {
  background: #ffffff;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}

/* .social */
.bottom-header ul {
  padding: 0;
}
.social li {
  display: inline-block;
  margin-right: 2px;
  text-align: center;
}

.social li a {
  box-sizing: border-box;
  border-radius: 100%;
  border: 2px solid #33373d;
  color: #33373d;
  display: inline-block;
  height: 35px;
  width: 35px;  
}

.social li a:hover {
    border: 2px solid #9661ab;
    color: #9661ab;
}

.social li i {
    line-height: 28px;
    font-size: 14px;
}

/* .about-me */
.about-me {
  background: #ffffff;
  padding-bottom: 60px;
  overflow: hidden;
}

.about-me-main-title {
  border-bottom: 1px solid #efefef;
  padding: 30px 10px 2px 40px;
  position: relative;
}

.about-me-content {
  padding: 40px;
  margin-bottom: 30px
}

.about-me .profile {
  margin-bottom: 30px
}

.about-me .profile h1 {
  font-size: 28px;
  line-height: 25px;
}

.about-me .profile h3 {
  font-size: 22px;
  color: #777777;
}